<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>ViewBookServlet</servlet-name>
<servlet-class>test.ViewBookServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ViewBookServlet</servlet-name>
<url-pattern>/view</url-pattern>
</servlet-mapping>
<welcome-file-list>
<welcome-file>input.html</welcome-file>
</welcome-file-list>
</web-app>